# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages used in datascience
- Common libraries used in datascience
- Opensource tools of datascience
- Arithematic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. scala
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. seaborn
3. matplotlib
4. pandas


| Data Science Tools | 
| -------------|
| Pixie dust |
| Mongo Db |
| Hadoop | 
|Apache airflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author:
Urooj